  #main{
    display: flex;
    justify-content: space-around;
    border:1px solid red;
    height: 88vh;;
    background: url(./bg.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  #main>div{
    background-color: transparent;
    border:1px solid red;
    text-align: center;
    margin:10px;
    height: max-content;
    border-radius: 10px;
  }
  #main>div>div{
    padding: 10px;
    text-align: center;
  }
  #main input{
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 10px;
  }
  